body{
    background-image: url('images/web/a\ \(4\).jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
  
    background-color:gold;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: normal;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
      
}

a{ 
    text-decoration:none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: white;
    font-size: 25px;
    word-spacing: normal;
    padding-inline: 20px;
    
}

.jumbotron{
    color: aqua;
background-image: url('images/web/a\ \(1\).jpg');
background-repeat: no-repeat;
background-size: cover;
height: 500px;
padding-bottom: 50px;
}
footer{
  background-color: black;
  padding-inline-start: 30px;
  color:blue;
}

